.contact-page {

    display: flex;
    justify-content: space-around;
}

.form-contact {

    width:auto;

    input {
        width:66vh;
        
        padding:8px;
        border-radius: 16px;
    }

    &__identity {
        display:flex;

        label {
            margin-right:25px;
        }

        input {
            width:30vh;
        }
    }

    textarea {
        min-width:66vh;
        max-width:66vh;
        min-height:25vh;
        max-height:25vh;
        
    }

    &__btn-container {
        display:flex;
        justify-content: center;
        &__submit {

            margin:25px;
            @include mainButton;
            h2 {
                margin:0;
    
            }
        }
    }
    
}